/TP2_Bieres_BASSOMPIERRE/nbproject/private/
/TP2_Bieres_BASSOMPIERRE/build/
/TP2_convertisseur_BASSOMPIERRE/nbproject/private/
/TP2_manip_BASSOMPIERRE/nbproject/private/
/TP2_manip_BASSOMPIERRE/build/
/TP2_relation_1_BASSOMPIERRE/nbproject/private/
/TP2_relation_1_BASSOMPIERRE/build/
/TP2_relation_1_BASSOMPIERRE/dist/
